@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

header {
  padding: .5rem 0;
  background-color: #ccc;
  text-align: center;
}

h1 {
  margin: 0 0 .5rem;
  font-size: 1.5rem;
  font-family: Nunito, sans-serif;
}

h2 {
  font-family: Nunito, sans-serif;
  font-size: 1.3em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav a {
  display: block;
  padding: .5em .75em;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #494949;
  color: #fff;
}

img {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.decadent {
  margin: 0;
  margin-top: 1.5em;
  text-align: center;
}

main {
  margin: .8em;
  text-align: center;
}

.since {
  margin: .5em 0 2em;
  font-size: .9em;
  text-align: center;
}

.new-product {
  background-color: #b5b5b5;
  overflow: hidden;
}

.new, .favourites, .opinions, .visit-us {
  text-align: left;
  margin: .4em .6em;
  margin-bottom: 0;
}

.volcano-bites, .customer-one, .our-shop {
  text-align: left;
  margin: .4em .8em;
}

.volcano-bites-image, .chocolate-cookies-img, .chocolate-shells-img, .red-velvet-img {
  display: inline-block;
  max-width: 18em;
  margin: 1em 0;
}

.every-bite {
  margin-top: 0;
  text-align: left;
  margin-left: .4em;
}

.customer-favourites {
  margin-bottom: 0;
}

.chocolate-cookies, .chocolate-shells {
  margin-bottom: 1em;
  margin-top: 0;
}

.red-velvet {
  margin-bottom: 2em;
  margin-top: .5em;
}

.customers {
  background-color: #b5b5b5;
  overflow: hidden;
}

.customer-two {
  text-align: left;
  margin: .4em .8em 1em;
}

.visit-us {
  margin-bottom: 0;
}

.chocolate-tasting {
  text-align: left;
  margin: 1em .8em;
}

footer {
  display: block;
  background-color: #ccc;
  padding: .55em;
  margin-top: 2em;
  text-align: left;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
    text-align: center;
  }

  .since {
    font-size: 1em;
    margin: .5em 0 2.5em;
  }

  .new, .favourites, .opinions, .visit-us {
    font-size: 1.5em;
  }

  .volcano-bites, .customer-one, .our-shop {
    margin: 0 .8em .4em;
  }

  .customer-two {
    margin: .4em .8em 1.5em;
  }

}

@media only screen and (min-width: 29em) {

  .new, .favourites, .opinions, .visit-us {
    margin: 1em .6em .4em;
  }

  .customer-one-img {
    float: left;
    width: 4em;
    margin: 1em .5em;
  }

  .customer-one {
    text-align: left;
    margin: 1.5em 1.8em;
  }

  .customer-two-img {
    float: left;
    width: 4em;
    margin: 1em .5em;
  }

  .customer-two {
    text-align: left;
    margin: 2.7em 1.8em 1em;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .customer-one-img {
    float: left;
    width: 4em;
    margin: 1em .5em;
  }

  .customer-one {
    text-align: left;
    margin: 1.7em 1.8em;
  }

  .customer-two-img {
    float: left;
    width: 4em;
    margin: 1em .5em;
  }

  .customer-two {
    text-align: left;
    margin: 2.7em 1.8em 1em;
  }

  figure {
    margin: 0 5em;
    position: relative;
  }

  figcaption {
    position: absolute;
    left: .5em;
    right: .5em;
    bottom: -1.5em;
    background-color: #b2b2b2;
    border-radius: .2em;
  }

  .since {
    font-size: 1.2em;
  }

  .visit-us {
    margin: .4em .5em;
  }

}

@media only screen and (min-width: 46em){

  .customer-one-img {
    float: left;
    width: 6em;
    margin: 1em .5em;
  }

  .customer-one {
    text-align: left;
    margin: 2.2em 1.8em;
    font-size: 1.2em;
  }

  .customer-two-img {
    float: left;
    width: 6em;
    margin: 1em .5em;
  }

  .customer-two {
    text-align: left;
    margin: 3.5em 1.8em 1.5em;
    font-size: 1.2em;
  }

  .chocolate-cookies-img, .chocolate-shells-img, .red-velvet-img {
    width: 20em;
  }

  .our-shop, .chocolate-tasting, .since, .volcano-bites {
    font-size: 1.2em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
